<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator />

    <property name="log.base" value="e://logs" />
	<property name="pattern"  value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{sessionId}] %-5level [%thread] %logger{80} :%msg%n" />
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
            <pattern>${pattern}</pattern>
        </encoder>
	</appender>
	
	<appender name="root" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/somnus-root.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/somnus-root-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    
    <appender name="somnus-base" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/somnus-base.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/somnus-base-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    <appender name="somnus-biz-income" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/somnus-biz-income.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/somnus-biz-income-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    <appender name="somnus-biz-draw" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/somnus-biz-draw.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/%d{yyyy-MM-dd}/somnus-biz-draw-%i.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>30MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    
    <logger name="com.somnus.base" additivity="false">
        <level value="info" />
        <appender-ref ref="somnus-base" />
    </logger>
    <logger name="com.somnus.biz.income" additivity="false">
        <level value="info" />
        <appender-ref ref="somnus-biz-income" />
    </logger>
    <logger name="com.somnus.biz.draw" additivity="false">
        <level value="info" />
        <appender-ref ref="somnus-biz-draw" />
    </logger>
	
	<!-- 日志过滤 -->
    <!-- log filter-->
    <logger name="org.jdbcdslog.ConnectionLogger" level="info" />
    <!-- 上线初期建议lever=info，正常运行后建以lever=error,测试时lever=error-->
    <logger name="org.jdbcdslog.StatementLogger" level="info" />
    <logger name="org.jdbcdslog.SlowQueryLogger" level="info" />
    <logger name="org.jdbcdslog.ResultSetLogger" level="error" />
	<logger name="org.springframework" level="info" />
	<logger name="org.apache" level="info" />

	<!-- root级别控制 -->
	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="root" />
	</root>
</configuration>